# Exemplo de configuração - Preencha com seus dados do Spotify Dev
SPOTIPY_CLIENT_ID=''
SPOTIPY_CLIENT_SECRET=''
SPOTIPY_REDIRECT_URI='http://localhost:8888/callback'

# Last.fm (novo)
LASTFM_API_KEY=sua_chave_aqui